@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #ffffff;
	--text-color: #000000;
}

@layer utilities {
	/* Animations */
	.animate {
		@apply transition-all duration-200;
	}
}

body {
	color: var(--text-color);
	background: var(--foreground);
}
